# Data & artifacts
data/*
!data/.gitkeep
artifacts/*
!artifacts/.gitkeep
mlruns/
mlartifacts/
mlflow.db

# Python
.venv/
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/
.ruff_cache/

# Env
.env

# OS / IDE
.DS_Store
.vscode/
.idea/

# Serving logs
logs/*
!logs/.gitkeep
